<?xml version="1.0"?>
<launch>
  <!-- Standalone example launch file for 3DM-GX5-25 -->

  <!-- Declare arguments with default values -->
  <arg name="port" default="/dev/microstrain" />
  <arg name="baudrate" default="115200" />
  <arg name="imu_rate" default="100" />
  <arg name="imu_frame_id" default="gx5_link" />
  <arg name="debug" default="false" />
  <arg name="diagnostics" default="true" />

  <!-- For setting debug level to debug -->
  <group if="$(arg debug)">
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find microstrain_mips)/config/custom_rosconsole.conf"/>
  </group>

  <!-- Microstrain sensor node -->
  <node name="microstrain_mips_node" pkg="microstrain_mips" type="microstrain_mips_node" output="screen" >
    <param name="port" value="$(arg port)" type="str" />
    <param name="baudrate" value="$(arg baudrate)" type="int" />

    <param name="device_setup" value="true" type="bool" />
    <!-- General Settings -->
    <param name="readback_settings" value="true" type="bool" />
    <param name="save_settings" value="true" type="bool" />
    <param name="auto_init" value="true" type="bool" />

    <!-- This parameter is to set wether the device orientation uses a basic
      NED->ENU orientation swap or not. If true, the ENU reported should
      match the label printed on the device. If false X & Y are swapped
      and Z is negated. -->
    <param name="frame_based_enu" value="false" type="bool" />

    <!-- The GX5-25 is AHRS only, so need to turn off the other messages -->
    <!-- AHRS Settings -->
    <param name="publish_imu" value="true" type="bool" />
    <param name="imu_rate" value="$(arg imu_rate)" type="int" />
    <param name="imu_frame_id" value="$(arg imu_frame_id)" type="str" />
    <!-- Declination source 1=None, 2=magnetic, 3=manual -->
    <param name="declination_source" value="2" type="int" />
    <param name="declination" value="0.23" type="double" />
    <!-- Filtered IMU rate is based on nav_rate since it is tied in with the onboard Kalman Filter -->
    <!-- If you set the filtered_imu rate to be something fairly high, make sure to lower the IMU rate
          above since it appears that the data rate can flood the USB. -->
    <param name="publish_filtered_imu" value="false" type="bool" />
    <!-- Remove gravity is only valid with the filtered IMU data. -->
    <param name="remove_imu_gravity" value="true" type="bool" />
    <!-- Static IMU message covariance values -->
    <!-- Since internally these are std::vector we need to use the rosparam tags -->
    <rosparam param="imu_orientation_cov"> [0.01, 0, 0, 0, 0.01, 0, 0, 0, 0.01]</rosparam>
    <rosparam param="imu_linear_cov"> [0.01, 0, 0, 0, 0.01, 0, 0, 0, 0.01]</rosparam>
    <rosparam param="imu_angular_cov"> [0.01, 0, 0, 0, 0.01, 0, 0, 0, 0.01]</rosparam>

    <!-- GPS Settings  -45 and -35 Only -->
    <param name="gps_rate" value="4" type="int" />
    <param name="gps_frame_id" value="navsat_link" type="str" />

    <!-- Filter Settings - GXx-45 Only -->
    <param name="nav_rate" value="10" type="int" />
    <param name="dynamics_mode" value="1" type="int" />
    <param name="odom_frame_id" value="wgs84_odom_link" type="str" />
    <param name="odom_child_frame_id" value="base_link" type="str" />
  </node>

  <!-- Diagnostics -->
  <group if="$(arg diagnostics)">
    <!--<node pkg="rqt_topic" type="rqt_topic" name="rqt_topic"/>-->
    <!--<node pkg="rqt_plot" type="rqt_plot" name="pid_setpoints" args="/yaw_pid_debug/Setpoint /vel_pid_debug/Setpoint"/>-->
    <!-- Diagnostic Aggregator for robot monitor usage -->
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="imu_diagnostic_aggregator">
      <rosparam command="load" file="$(find microstrain_mips)/config/diagnostic_analyzers.yaml" />
    </node>
  </group>


</launch>
