<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">
    <xacro:include filename="$(find velodyne_description)/urdf/HDL-32E.urdf.xacro"/>
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>

    <!-- <xacro:property name="pi" value="3.1415926835897931"/> -->
    <xacro:arg name="gpu" default="false"/>

    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>
    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- sensor -->
    <xacro:property name="calibration" value="${load_yaml('$(find vehicle_launch)/config/sensor_kit_calibration.yaml')}"/>
    <!-- lidar -->
    <VLP-16 parent="sensor_kit_base_link" name="velodyne_top" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin xyz="${calibration['sensor_kit_base_link2velodyne_top_base_link']['x']} ${calibration['sensor_kit_base_link2velodyne_top_base_link']['y']} ${calibration['sensor_kit_base_link2velodyne_top_base_link']['z']}" rpy="${calibration['sensor_kit_base_link2velodyne_top_base_link']['roll']} ${calibration['sensor_kit_base_link2velodyne_top_base_link']['pitch']} ${calibration['sensor_kit_base_link2velodyne_top_base_link']['yaw']}" />
    </VLP-16>
    <VLP-16 parent="sensor_kit_base_link" name="velodyne_left" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin xyz="${calibration['sensor_kit_base_link2velodyne_left_base_link']['x']} ${calibration['sensor_kit_base_link2velodyne_left_base_link']['y']} ${calibration['sensor_kit_base_link2velodyne_left_base_link']['z']}" rpy="${calibration['sensor_kit_base_link2velodyne_left_base_link']['roll']} ${calibration['sensor_kit_base_link2velodyne_left_base_link']['pitch']} ${calibration['sensor_kit_base_link2velodyne_left_base_link']['yaw']}" />
    </VLP-16>
    <VLP-16 parent="sensor_kit_base_link" name="velodyne_right" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin xyz="${calibration['sensor_kit_base_link2velodyne_right_base_link']['x']} ${calibration['sensor_kit_base_link2velodyne_right_base_link']['y']} ${calibration['sensor_kit_base_link2velodyne_right_base_link']['z']}" rpy="${calibration['sensor_kit_base_link2velodyne_right_base_link']['roll']} ${calibration['sensor_kit_base_link2velodyne_right_base_link']['pitch']} ${calibration['sensor_kit_base_link2velodyne_right_base_link']['yaw']}" />
    </VLP-16>
    <!-- camera -->
    <!-- <xacro:monocular_camera_macro suffix="traffic_light/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2traffic_light_camera']['x']}" y="${calibration['sensor_kit_base_link2traffic_light_camera']['y']}" z="${calibration['sensor_kit_base_link2traffic_light_camera']['z']}" roll="${calibration['sensor_kit_base_link2traffic_light_camera']['roll']}" pitch="${calibration['sensor_kit_base_link2traffic_light_camera']['pitch']}" yaw="${calibration['sensor_kit_base_link2traffic_light_camera']['yaw']}" fps="30" width="800" height="400" fov="1.3"/> -->
    <xacro:monocular_camera_macro suffix="camera1/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2camera1']['x']}" y="${calibration['sensor_kit_base_link2camera1']['y']}" z="${calibration['sensor_kit_base_link2camera1']['z']}" roll="${calibration['sensor_kit_base_link2camera1']['roll']}" pitch="${calibration['sensor_kit_base_link2camera1']['pitch']}" yaw="${calibration['sensor_kit_base_link2camera1']['yaw']}" fps="30" width="800" height="400" fov="1.3"/>
    <xacro:monocular_camera_macro suffix="camera2/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2camera2']['x']}" y="${calibration['sensor_kit_base_link2camera2']['y']}" z="${calibration['sensor_kit_base_link2camera2']['z']}" roll="${calibration['sensor_kit_base_link2camera2']['roll']}" pitch="${calibration['sensor_kit_base_link2camera2']['pitch']}" yaw="${calibration['sensor_kit_base_link2camera2']['yaw']}" fps="30" width="800" height="400" fov="1.3"/>
    <xacro:monocular_camera_macro suffix="camera3/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2camera3']['x']}" y="${calibration['sensor_kit_base_link2camera3']['y']}" z="${calibration['sensor_kit_base_link2camera3']['z']}" roll="${calibration['sensor_kit_base_link2camera3']['roll']}" pitch="${calibration['sensor_kit_base_link2camera3']['pitch']}" yaw="${calibration['sensor_kit_base_link2camera3']['yaw']}" fps="30" width="800" height="400" fov="1.3"/>
    <xacro:monocular_camera_macro suffix="camera4/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2camera4']['x']}" y="${calibration['sensor_kit_base_link2camera4']['y']}" z="${calibration['sensor_kit_base_link2camera4']['z']}" roll="${calibration['sensor_kit_base_link2camera4']['roll']}" pitch="${calibration['sensor_kit_base_link2camera4']['pitch']}" yaw="${calibration['sensor_kit_base_link2camera4']['yaw']}" fps="30" width="800" height="400" fov="1.3"/>
    <xacro:monocular_camera_macro suffix="camera5/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2camera5']['x']}" y="${calibration['sensor_kit_base_link2camera5']['y']}" z="${calibration['sensor_kit_base_link2camera5']['z']}" roll="${calibration['sensor_kit_base_link2camera5']['roll']}" pitch="${calibration['sensor_kit_base_link2camera5']['pitch']}" yaw="${calibration['sensor_kit_base_link2camera5']['yaw']}" fps="30" width="800" height="400" fov="1.3"/>
    <xacro:monocular_camera_macro suffix="camera6/camera" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2camera6']['x']}" y="${calibration['sensor_kit_base_link2camera6']['y']}" z="${calibration['sensor_kit_base_link2camera6']['z']}" roll="${calibration['sensor_kit_base_link2camera6']['roll']}" pitch="${calibration['sensor_kit_base_link2camera6']['pitch']}" yaw="${calibration['sensor_kit_base_link2camera6']['yaw']}" fps="30" width="800" height="400" fov="1.3"/>

    <!-- imu -->
    <xacro:imu_macro suffix="tamagawa/imu" parent="sensor_kit_base_link" namespace="" x="${calibration['sensor_kit_base_link2imu_tamagawa']['x']}" y="${calibration['sensor_kit_base_link2imu_tamagawa']['y']}" z="${calibration['sensor_kit_base_link2imu_tamagawa']['z']}" roll="${calibration['sensor_kit_base_link2imu_tamagawa']['roll']}" pitch="${calibration['sensor_kit_base_link2imu_tamagawa']['pitch']}" yaw="${calibration['sensor_kit_base_link2imu_tamagawa']['yaw']}" fps="100" />
  </xacro:macro>

</robot>
