<?xml version="1.0"?>

<launch>
  <!-- <arg name="input" default="shape_estimeted_objects"/> -->
  <arg name="input" default="tracker/objects"/>
  <arg name="output" default="$(arg input)/visualization"/>
  <arg name="with_feature" default="false"/>
  <arg name="only_known_objects" default="true"/>

  <node pkg="dynamic_object_visualization" type="dynamic_object_visualizer_node" name="$(anon dynamic_object_visualization)" output="screen">
    <remap from="input" to="$(arg input)"/>
    <remap from="output" to="$(arg output)"/>
    <param name="with_feature" value="$(arg with_feature)"/>
    <param name="only_known_objects" value="$(arg only_known_objects)"/>
  </node>

</launch>
