<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${load_yaml('$(find lexus_description)/config/vehicle_info.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="${vehicle_info['wheel_base']/2.0} 0 0" rpy="${pi/2.0} 0 ${pi}"/>
      <geometry>
        <mesh filename="package://lexus_description/mesh/lexus.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

</robot>
