#!/usr/bin/env python
PACKAGE = "velodyne_driver"
NODE_NAME = "velodyne_node"
PARAMS_NAME = "VelodyneNode"

from math import pi
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("time_offset", double_t,  1, "A manually calibrated offset (in seconds) to add to the timestamp before publication of a message.",
        0.0, -1.0, 1.0)
gen.add("enabled", bool_t, 2, "Switch to enable and disable lidar packet consumption", True);
gen.add("auto_rpm_alpha", double_t,  0, "A manually calibrated parameter for motor rpm smoothing filter.",
        0.99, 0.2, 1.0)

exit(gen.generate(PACKAGE, NODE_NAME, PARAMS_NAME))
