localization/ndt_localizer/lidar.pcap filter=lfs diff=lfs merge=lfs -text
localization/ndt_localizer/transformed_map/transformed_map.pcd filter=lfs diff=lfs merge=lfs -text
localization/ndt_localizer/map_pcd/lidar2_pcap.pcd filter=lfs diff=lfs merge=lfs -text
