# To install:
#
#     pip install pre-commit
#
# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: double-quote-string-fixer
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.27.1
    hooks:
      - id: markdownlint
        args: ["-c", ".markdownlint.yaml", "--fix"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.3.2
    hooks:
      - id: prettier

  - repo: https://github.com/tier4/pre-commit-hooks-ros
    rev: v0.1.2
    hooks:
      - id: prettier-xml
      - id: sort-package-xml

  - repo: local
    hooks:
      - id: uncrustify
        name: ament_uncrustify
        description: Formats C/CPP code
        language: docker_image
        files: \.(c|cc|cxx|cpp|h|hpp|hxx|m)$
        entry: ros:galactic ament_uncrustify --reformat

exclude: ".svg"
