<launch>
  <arg name="image_raw0" default="/image_raw"/>
  <arg name="image_raw1" default=""/>
  <arg name="image_raw2" default=""/>
  <arg name="image_raw3" default=""/>
  <arg name="image_raw4" default=""/>
  <arg name="image_raw5" default=""/>
  <arg name="image_raw6" default=""/>
  <arg name="image_raw7" default=""/>
  <arg name="image_number" default="1"/>
  <arg name="output_topic" default="rois"/>

  <include if="$(eval image_number >= 1)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw0)"/>
    <arg name="output_topic" default="rois0"/>
  </include>
  <include if="$(eval image_number >= 2)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw1)"/>
    <arg name="output_topic" default="rois1"/>
  </include>
  <include if="$(eval image_number >= 3)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw2)"/>
    <arg name="output_topic" default="rois2"/>
  </include>
  <include if="$(eval image_number >= 4)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw3)"/>
    <arg name="output_topic" default="rois3"/>
  </include>
  <include if="$(eval image_number >= 5)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw4)"/>
    <arg name="output_topic" default="rois4"/>
  </include>
  <include if="$(eval image_number >= 6)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw5)"/>
    <arg name="output_topic" default="rois5"/>
  </include>
  <include if="$(eval image_number >= 7)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw6)"/>
    <arg name="output_topic" default="rois6"/>
  </include>
  <include if="$(eval image_number >= 8)" file="$(find tensorrt_yolo3)/launch/tensorrt_yolo3.launch">
    <arg name="input_topic" default="$(arg image_raw7)"/>
    <arg name="output_topic" default="rois7"/>
  </include>
</launch>
