<?xml version="1.0"?>

<launch>
  <!-- common parameters -->
  <arg name="lateral_controller_mode" default="mpc_follower" doc="options: mpc_follower, pure_pursuit"/>

  <!-- control module -->
  <group ns="control">
    <!-- lateral controller -->
    <group if="$(eval lateral_controller_mode == 'mpc_follower')">
      <include file="$(find mpc_follower)/launch/mpc_follower.launch">
      </include>
    </group>

    <group if="$(eval lateral_controller_mode == 'pure_pursuit')">
      <include file="$(find pure_pursuit)/launch/pure_pursuit.launch">
      </include>
    </group>

    <!-- longitudinal controller -->
    <include file="$(find velocity_controller)/launch/velocity_controller.launch">
    </include>

    <!-- latlon coupler -->
    <node pkg="latlon_muxer" type="latlon_muxer" name="latlon_muxer" output="screen">
      <remap from="~input/lateral/control_cmd" to="lateral/control_cmd"/>
      <remap from="~input/longitudinal/control_cmd" to="longitudinal/control_cmd"/>
      <remap from="~output/control_cmd" to="control_cmd"/>
    </node>

    <!-- vehicle cmd gate -->
    <include file="$(find vehicle_cmd_gate)/launch/vehicle_cmd_gate.launch">
    </include>
  </group>
</launch>
