<?xml version="1.0"?>

<launch>
  <arg name="input/cluster0" default="clusters0"/>
  <arg name="input/cluster1" default="clusters1"/>
  <arg name="output/clusters" default="labeled_clusters"/>

  <node pkg="cluster_data_association" type="cluster_data_association_node" name="cluster_data_association" output="screen">
    <remap from="~input/clusters0" to="$(arg input/cluster0)"/>
    <remap from="~input/clusters1" to="$(arg input/cluster1)"/>
    <remap from="~output/clusters" to="$(arg output/clusters)"/>
  </node>

</launch>
