<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Map path -->
  <arg name="map_path"/>

  <!-- Vehicle Setting -->
  <include file="$(find vehicle_launch)/launch/vehicle_description/vehicle_description.launch" />

  <!-- Dummy /vehicle/engage for autoware_state_monitor -->
  <node pkg="rostopic" type="rostopic" name="simulation_vehicle_engage_publisher" args="pub /vehicle/engage std_msgs/Bool 'data: true'" output="screen"/>

  <!-- System -->
  <include file="$(find system_launch)/launch/system.launch" />

  <!-- Map -->
  <include file="$(find map_launch)/launch/map.launch">
    <arg name="map_path" value="$(arg map_path)"/>
  </include>

  <!-- Planning Simulator -->
  <include file="$(find simple_planning_simulator)/launch/simple_planning_simulator.launch" />

  <!-- Dummy Perception -->
  <include file="$(find dummy_perception_publisher)/launch/dummy_perception_publisher.launch" />

  <!-- Planning -->
  <include file="$(find planning_launch)/launch/planning.launch" />

  <!-- Control -->
  <include file="$(find control_launch)/launch/control.launch">
    <arg name="lateral_controller_mode" value="mpc_follower" doc="options: mpc_follower, pure_pursuit"/>
  </include>

  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find autoware_launch)/rviz/autoware.rviz" />

  <!-- Web Controller -->
  <include file="$(find roswww)/launch/roswww.launch">
    <arg name="cached" value="false"/>
  </include>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
</launch>
