<launch>

  <arg name="launch_driver" default="true" />

  <group ns="imu">
    <group ns="gx5">
      <remap from="imu/data" to="imu_raw" />
      <include file="$(find microstrain_mips)/launch/microstrain.launch"  if="$(eval launch_driver==true)">
        <arg name="port" value="/dev/ttyACM0" />
        <arg name="imu_frame_id" value="gx5/imu_link" />
      </include>
    </group>

    <group ns="tamagawa">
      <node pkg="tamagawa_imu_driver" name="tag_serial_driver" type="tag_serial_driver" if="$(eval launch_driver==true)">
        <remap from="imu/data_raw" to="imu_raw" />
        <param name="port" value="/dev/ttyUSB0" />
        <param name="imu_frame_id" value="tamagawa/imu_link" />
      </node>
    </group>


    <!-- Relay -->
    <node pkg="topic_tools" type="relay" name="relay" args="/sensing/imu/tamagawa/imu_raw /sensing/imu/imu_data" />
  </group>

</launch>
