<launch>
    <arg name="refiner" default="false"/>

    <node if="$(var refiner)" name="refine" pkg="refine_optimizer" exec="refine_node" output="screen" args="--ros-args --log-level warn">
        <remap from="/src_image" to="$(var resized_image)"/>
        <remap from="/src_info" to="$(var resized_info)"/>
        <remap from="/particle_pose" to="/particle_pose"/>

        <param name="refine.verbose" value="false"/>
        <param name="refine.max_iteration" value="50"/>
        <param name="refine.pixel_interval" value="20"/>

        <!-- If give a minus value to euler_bound, then rotation is not optimized -->
        <param name="refine.euler_bound" value="-2.0"/>

        <param name="refine.long_bound" value="0.1"/>
        <param name="refine.late_bound" value="0.5"/>
        <param name="refine.height_bound" value="0.1"/>
        <param name="refine.show_grad_image" value="true"/>
    </node>
</launch>
