<launch>

  <arg name="input_vehicle_twist_topic" default="/vehicle/status/twist" doc="" />
  <arg name="input_imu_topic" default="/sensing/imu/imu_data" doc="" />

  <arg name="output_twist_topic" default="gyro_twist" doc="" />
  <arg name="output_twist_with_covariance_topic" default="gyro_twist_with_covariance" doc="" />

  <arg name="output_frame" default="base_link" doc="" />

  <node pkg="gyro_odometer" type="gyro_odometer" name="gyro_odometer" output="log">
    <remap from="vehicle/twist" to="$(arg input_vehicle_twist_topic)" />
    <remap from="imu" to="$(arg input_imu_topic)" />

    <remap from="twist" to="$(arg output_twist_topic)" />
    <remap from="twist_with_covariance" to="$(arg output_twist_with_covariance_topic)" />

    <param name="output_frame" value="$(arg output_frame)" />
  </node>

</launch>
