<?xml version="1.0"?>

<launch>
  <!-- common parameters -->
  <arg name="lateral_controller_mode" default="mpc_follower" doc="options: mpc_follower, pure_pursuit"/>

  <!-- control parameter -->
  <arg name="mpc_follower_param_path" default="$(find control_launch)/config/mpc_follower/mpc_follower_param.yaml"/>
  <arg name="pure_pursuit_param_path" default="$(find control_launch)/config/pure_pursuit/pure_pursuit_param.yaml"/>

  <!-- control module -->
  <group ns="control">

    <!-- trajectory follower -->
    <group ns="trajectory_follower">

      <!-- lateral controller -->
      <group if="$(eval lateral_controller_mode == 'mpc_follower')">
        <include file="$(find mpc_follower)/launch/mpc_follower.launch" pass_all_args="true"/>
      </group>

      <group if="$(eval lateral_controller_mode == 'pure_pursuit')">
        <include file="$(find pure_pursuit)/launch/pure_pursuit.launch" pass_all_args="true"/>
      </group>

      <!-- longitudinal controller -->
      <include file="$(find velocity_controller)/launch/velocity_controller.launch">
      </include>

      <!-- latlon coupler -->
      <node pkg="latlon_muxer" type="latlon_muxer" name="latlon_muxer" output="screen">
        <remap from="~input/lateral/control_cmd" to="lateral/control_cmd"/>
        <remap from="~input/longitudinal/control_cmd" to="longitudinal/control_cmd"/>
        <remap from="~output/control_cmd" to="control_cmd"/>
      </node>
    </group>

    <!-- shift decider -->
    <include file="$(find shift_decider)/launch/shift_decider.launch">
    </include>

    <!-- vehicle cmd gate -->
    <include file="$(find vehicle_cmd_gate)/launch/vehicle_cmd_gate.launch">
    </include>

    <!-- remote_cmd_converter -->
    <include file="$(find remote_cmd_converter)/launch/remote_cmd_converter.launch">
    </include>
  </group>
</launch>
