<launch>
  <arg name="input_objects" default="/perception/object_recognition/objects" />
  <arg name="input_twist" default="/localization/twist" />
  <arg name="enable_slow_down" default="false" />
  <node pkg="obstacle_stop_planner" type="obstacle_stop_planner_node" name="obstacle_stop_planner" output="screen">
    <rosparam command="load" file="$(find obstacle_stop_planner)/config/adaptive_cruise_control.yaml" />
    <remap from="~output/stop_reason" to="/planning/scenario_planning/status/stop_reason" />
    <remap from="~input/objects" to="$(arg input_objects)" />
    <remap from="~input/twist" to="$(arg input_twist)" />
    <param name="enable_slow_down" value="$(arg enable_slow_down)" />
  </node>

</launch>
