<launch>
  <!-- <arg name="ns" default="/"/> -->
  <arg name="output" default="screen"/>

  <!-- debug flags -->
  <arg name="show_debug_info" default="false"/>
  <arg name="show_debug_info_all" default="false"/>
  <arg name="publish_debug_trajs" default="true"/>

  <node pkg="motion_velocity_optimizer" type="motion_velocity_optimizer" name="motion_velocity_optimizer" output="$(arg output)">
    <rosparam command="load" file="$(find motion_velocity_optimizer)/config/motion_velocity_optimizer.yaml" />
    <param name="show_debug_info" value="$(arg show_debug_info)"/>
    <param name="show_debug_info_all" value="$(arg show_debug_info_all)"/>
    <param name="publish_debug_trajs" value="$(arg publish_debug_trajs)"/>
  </node>

</launch>
