<launch>

  <node pkg="vehicle_cmd_gate" type="vehicle_cmd_gate" name="vehicle_cmd_gate" output="screen">
    <remap from="~input/control_cmd" to="control_cmd"/>
    <remap from="~input/engage" to="/autoware/engage"/>
    <remap from="~output/vehicle_cmd" to="vehicle_cmd"/>
    <remap from="~output/shift_cmd" to="/vehicle/shift_cmd"/>
  </node>

</launch>
