<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="sensor_model" default="aip_xx1"/>
  <arg name="vehicle_model" default="lexus"/>
  <arg name="map_path" default=""/>
  <arg name="rviz" default="false"/>

  <arg name="log_output_dir"/>
  <arg name="scenario_id"/>
  <arg name="scenario_path"/>
  <arg name="scenario_runner_output" default="screen"/>

  <include file="$(find planning_simulator_launcher)/launch/scenario_launcher.launch" pass_all_args="true"/>
</launch>
