<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find autoware_launch)/launch/autoware.launch">
    <!-- TODO: add the appropriate vehicle model below. -->
    <arg name="vehicle_model" value=""/>
    <!-- TODO: add the appropriate sensor model below. -->
    <arg name="sensor_model" value=""/>
    <arg name="map_path" value="/opt/autoware/maps/"/>
    <arg name="lanelet2_map_file" value="lanelet2_map.osm" />
    <arg name="pointcloud_map_file" value="pcd" />
    <arg name="rviz" value="false"/>
  </include>
</launch>
