<?xml version="1.0"?>

<launch>

  <arg name="input" default="/points_raw"/>
  <arg name="output" default="vscan/pointcloud"/>

  <!-- run pointcloud_to_laserscan node -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

    <remap from="cloud_in" to="$(arg input)"/>
    <remap from="cloud_out" to="$(arg output)"/>
    <rosparam>
            target_frame: velodyne # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.01
            min_height: -1.5
            max_height: 0.0

            angle_min: -3.141592 # -M_PI
            angle_max: 3.141592 # M_PI
            angle_increment: 0.00435 # M_PI/360.0
            scan_time: 0.3333
            range_min: 2.5
            range_max: 100.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
    </rosparam>

  </node>

</launch>
