<launch>
  <arg name="config_file" default="$(find autoware_error_monitor)/config/autoware_error_monitor.yaml" />

  <group ns="/">
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="aggregator_node" output="screen">
      <param name="pub_rate" value="10"/>
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/_discard.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/control.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/emergency_system.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/localization.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/map.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/perception.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/planning.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/remote_control.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/safety.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/sensing.yaml" />
      <rosparam command="load" file="$(find autoware_error_monitor)/config/diagnostic_aggregator/vehicle.yaml" />
    </node>
  </group>

  <include file="$(find autoware_error_monitor)/launch/autoware_error_monitor_node.launch">
    <arg name="config_file" value="$(arg config_file)"/>
  </include>
</launch>
