[submodule "src/sign_detector/scripts/lib/advanced_lane_finding"]
	path = src/sign_detector/scripts/lib/advanced_lane_finding
	url = https://github.com/windowsub0406/Advanced-lane-finding.git
[submodule "src/rviz2_overlay_plugins"]
	path = src/rviz2_overlay_plugins
	url = git@github.com:KYabuuchi/rviz2_overlay_plugins.git
[submodule "src/rosbag2_rviz_plugins"]
	path = src/rosbag2_rviz_plugins
	url = https://github.com/Kettenhoax/rosbag2_rviz_plugins.git
[submodule "src/topic_tools"]
	path = src/topic_tools
	url = git@github.com:tier4/topic_tools.git
[submodule "src/autoware_auto_msgs"]
	path = src/autoware_auto_msgs
	url = git@github.com:tier4/autoware_auto_msgs.git
