<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- State Monitor -->
  <include file="$(find autoware_state_monitor)/launch/autoware_state_monitor.launch">
    <arg name="input_autoware_engage" value="/autoware/engage" />
    <arg name="input_vehicle_engage" value="/vehicle/engage" />
    <arg name="input_route" value="/planning/mission_planning/route" />
    <arg name="input_twist" value="/localization/twist" />

    <arg name="output_autoware_state" value="/autoware/state" />
    <arg name="output_autoware_engage" value="/autoware/engage" />

    <arg name="config_file" value="$(find autoware_state_monitor)/config/autoware_state_monitor.yaml" />
  </include>
</launch>
