<?xml version="1.0"?>

<launch>
  <!-- common parameters -->
  <arg name="mode" default="camera_lidar_fusion"/>
  <!-- "camera_lidar_fusion", "lidar" or "camera" -->
  <arg name="image_raw0" default="/image_raw"/>
  <arg name="camera_info0" default="/camera_info"/>
  <arg name="image_raw1" default=""/>
  <arg name="camera_info1" default=""/>
  <arg name="image_raw2" default=""/>
  <arg name="camera_info2" default=""/>
  <arg name="image_raw3" default=""/>
  <arg name="camera_info3" default=""/>
  <arg name="image_raw4" default=""/>
  <arg name="camera_info4" default=""/>
  <arg name="image_raw5" default=""/>
  <arg name="camera_info5" default=""/>
  <arg name="image_raw6" default=""/>
  <arg name="camera_info6" default=""/>
  <arg name="image_raw7" default=""/>
  <arg name="camera_info7" default=""/>
  <arg name="image_number" default="1"/>
  <arg name="use_vector_map" default="true"/>

  <!-- preception module -->
  <group ns="perception">
    <!-- object recognition module -->
    <group ns="object_recognition">
      <!-- detection module -->
      <group ns="detection">
        <include file="$(find perception_launch)/launch/object_recognition/detection/detection.launch">
          <arg name="mode" default="$(arg mode)"/>
          <arg name="image_raw0" default="$(arg image_raw0)"/>
          <arg name="camera_info0" default="$(arg camera_info0)"/>
          <arg name="image_raw1" default="$(arg image_raw1)"/>
          <arg name="camera_info1" default="$(arg camera_info1)"/>
          <arg name="image_raw2" default="$(arg image_raw2)"/>
          <arg name="camera_info2" default="$(arg camera_info2)"/>
          <arg name="image_raw3" default="$(arg image_raw3)"/>
          <arg name="camera_info3" default="$(arg camera_info3)"/>
          <arg name="image_raw4" default="$(arg image_raw4)"/>
          <arg name="camera_info4" default="$(arg camera_info4)"/>
          <arg name="image_raw5" default="$(arg image_raw5)"/>
          <arg name="camera_info5" default="$(arg camera_info5)"/>
          <arg name="image_raw6" default="$(arg image_raw6)"/>
          <arg name="camera_info6" default="$(arg camera_info6)"/>
          <arg name="image_raw7" default="$(arg image_raw7)"/>
          <arg name="camera_info7" default="$(arg camera_info7)"/>
          <arg name="image_number" default="$(arg image_number)"/>
          <arg name="use_vector_map" default="false"/>
        </include>
      </group>
      <!-- tracking module -->
      <group ns="tracking">
        <include file="$(find perception_launch)/launch/object_recognition/tracking/tracking.launch">
        </include>
      </group>
      <!-- prediction module -->
      <group ns="prediction">
        <include file="$(find perception_launch)/launch/object_recognition/prediction/prediction.launch">
          <arg name="use_vector_map" default="$(arg use_vector_map)"/>
        </include>
      </group>
    </group>

    <!-- traffic light module -->
    <group ns="traffic_light_recognition">
      <include file="$(find perception_launch)/launch/traffic_light_recognition/traffic_light.launch">
      </include>
    </group>
  </group>
</launch>
