<launch>
  <!-- simple_planning_simulator parameters -->
  <arg name="loop_rate" default="50.0"/>
  <arg name="simulation_frame_id" default="base_link"/>
  <arg name="map_frame_id" default="map"/>
  <arg name="initialize_source" default="RVIZ"/>
  <arg name="use_waypoints_for_z_position_source" default="true"/>
  <arg name="initial_engage_state" default="true"/>

  <!-- model parameters -->
  <arg name="simulator_model" default="$(find simple_planning_simulator)/config/simulator_model.yaml"/>
  <rosparam command="load" file="$(arg simulator_model)" ns="simple_planning_simulator"/>

  <!-- simple_planning_simulator node -->
  <node pkg="simple_planning_simulator" type="simple_planning_simulator" name="simple_planning_simulator" output="screen">
    <remap from="/base_trajectory" to="/planning/scenario_planning/trajectory" />
    <remap from="~output/current_pose" to="current_pose" />
    <remap from="~output/current_twist" to="/vehicle/status/twist" />
    <remap from="~output/status" to="/vehicle/status" />
    <remap from="~output/control_mode" to="/vehicle/status/control_mode" />
    <remap from="~input/vehicle_cmd" to="/control/vehicle_cmd" />
    <remap from="~input/turn_signal_cmd" to="/control/turn_signal_cmd" />
    <remap from="~input/initial_twist" to="/initialtwist" />
    <remap from="~input/engage" to="/vehicle/engage" />

    <param name="loop_rate" value="$(arg loop_rate)"/>
    <param name="simulation_frame_id" value="$(arg simulation_frame_id)"/>
    <param name="map_frame_id" value="$(arg map_frame_id)"/>
    <param name="initialize_source" value="$(arg initialize_source)"/>
    <param name="use_waypoints_for_z_position_source" value="$(arg use_waypoints_for_z_position_source)"/>
    <param name="initial_engage_state" value="$(arg initial_engage_state)"/>

  </node>

  <node pkg="topic_tools" type="relay" name="relay" args="/vehicle/status/twist /localization/twist" />
</launch>
