<?xml version="1.0"?>
<launch>
  <!-- localization module -->
  <group ns="localization">
    <!-- util module -->
    <group ns="util">
      <include file="$(find localization_launch)/launch/util/util.launch">
      </include>
    </group>
    <!-- pose_estimator module -->
    <group ns="pose_estimator">
      <include file="$(find localization_launch)/launch/pose_estimator/pose_estimator.launch">
      </include>
    </group>
    <!-- twist_estimator module -->
    <group ns="twist_estimator">
      <include file="$(find localization_launch)/launch/twist_estimator/twist_estimator.launch">
      </include>
    </group>
    <!-- pose_twist_fusion_filter module -->
    <group ns="pose_twist_fusion_filter">
      <include file="$(find localization_launch)/launch/pose_twist_fusion_filter/pose_twist_fusion_filter.launch">
      </include>
    </group>
    <!-- final twist output of localization -->
    <node pkg="topic_tools" type="relay" name="relay" args="/localization/pose_twist_fusion_filter/twist /localization/twist" />
  </group>
</launch>
